@import './body';
@import './vars';

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    @include flexCenter();
   background-color: lightblue;
   button{
    color: $primaryBtn;
    &:hover{
        background: pink;
    }
   }

}

