@import './body';
@import './vars';

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


header{
    @include flexCenter(column);
   background-color: lightblue;
   button{
    color: $primaryBtn;
    &:hover{
        background: pink;
    }
   }

}
.contact{
    @extend header;
    background: pink;
}

